<div class="form-group">
	<label>Top Images</label>
	<br>
	<button type="button" class="btn btn-danger gallery-owner" data-name="Top Images" data-multiple-select>Select Image</button>
	<br>
	<br>
	<div class="selected-images"><div class="row"></div></div>
</div>
<div class="form-group">
	<label>Bot Images</label>
	<br>
	<button type="button" class="btn btn-danger gallery-owner" data-name="Bot Images" data-multiple-select>Select Image</button>
	<br>
	<br>
	<div class="selected-images"><div class="row"></div></div>
</div>
<div class="form-group">
	<label>Top Image</label>
	<br>
	<button type="button" class="btn btn-danger gallery-owner" data-name="Top Image">Select Image</button>
	<br>
	<br>
	<div class="selected-images"><div class="row"></div></div>
</div>
<div class="form-group">
	<label>Top Text</label>
	<textarea name="content['top_text']" id="" cols="30" rows="10" class="form-control" style="resize: vertical;" required></textarea>
</div>

<script>
	
</script>